<div class="card-container">
  <div class="card-header">
    <span class="card-title">{{ card.title }}</span>
    <div class="button-container delete" (click)="emitDeleteCard()">
      <mat-icon svgIcon="cross_icon"></mat-icon>
    </div>
  </div>

  <div class="task-container">
    <div class="tasks">
      <app-task
        *ngFor="let task of card.tasks"
        [task]="task"
        (deleteTask)="deleteTask($event)"
      ></app-task>
    </div>

    <div class="add-task">
      <input
        class="add-task-input"
        [(ngModel)]="newTaskTitle"
        placeholder="Add new task"
      />
      <div class="button-container add" (click)="addTask()">
        <mat-icon svgIcon="tick_icon"></mat-icon>
      </div>
    </div>
  </div>
</div>
