.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  gap: 20px;
  padding: 25px 35px;
  background-color: #d8d8ef;

  .app-title {
    font-size: 32px;
    color: #1d2e5a;
    font-weight: 700;
  }
}
